.el-button--default {
  --el-button-bg-color: #c04851;
  --el-button-active-bg-color: #ed5a65;
  --el-button-hover-bg-color: #f07c82;
  --el-button-border-color: #c04851;
  --el-button-hover-border-color: #eea2a4;
  --el-button-active-border-color: #c04851;
  --el-button-active-text-color: white;
  --el-button-hover-text-color: white;
  --el-button-text-color: white;
}

.el-button--default.is-disabled,
.el-button--default.is-disabled:active,
.el-button--default.is-disabled:focus,
.el-button--default.is-disabled:hover {
  background-color: #e3b4b8;
  border-color: #eea2a4;
}

.el-input {
  --el-input-focus-border: #eea2a4;
  --el-select-input-focus-border-color: #eea2a4;
}